<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="onsenui/css/onsenui.css">
    <link rel="stylesheet" href="onsenui/css/onsen-css-components.min.css">
    <link href="common.css" rel="stylesheet" type="text/css" media="all" />
    <script src="onsenui/js/onsenui.min.js"></script>
    <script src="./ncmb/ncmb.min.js"></script>
    <script src="./db.js"></script>
    <script src="angular.min.js"></script>
    <script src="onsenui/js/angular-onsenui.min.js"></script>
    <script src="./common.js"></script>
</head>

<body class="container">
    <ons-navigator swipeable var="myNavigator" page="login.page"></ons-navigator>

    <template id="game.page">
    <ons-page>
        <div ng-controller="GameController">
            <div class="toolbar">
                <div class="toolbar__center">PTGAME(【真ん中当てクイズ】)</div>
            </div>
   
            <ons-row>
                <ons-col width="100%">
                    <div style="width:100%;height: 200px; padding: 1px 0 0 0;">
                        <ons-row>
                            <ons-col width="10%">
                                <div class="arrowL" ng-click="back()"></div>
                            </ons-col>

                            <ons-col width="80%">
                                <div class="card">
                                    <h2 class="card__title">第{{currentNum+1}}問</h2>
                                    <div class="card__content">
                                        {{gameData[currentNum].title}}
                                    </div>
                                </div>
                            </ons-col>


                            <ons-col width="10%">
                                <div class="arrow" ng-click="forward()"></div>
                            </ons-col>
                        </ons-row>
                    </div>

                </ons-col>
            </ons-row>

            <ons-row>


                <div class="form-style-6" ng-show="currentNum == 0">
                    <form>
                        <ons-row>

                            <input type="text" name="field1" ng-model="answer" placeholder="何時" />
                            <text class="error">{{error}}</text>

                            <input type="text" name="field1" ng-model="answer2" placeholder="何分" />
                            <text class="error">{{error2}}</text>
                        </ons-row>

                    </form>
                </div>

                <div class="form-style-6" ng-show="currentNum == 1">
                    <form>
                        <input type="text" name="field1" ng-model="answer" placeholder="何時間" />
                        <text class="error">{{error}}</text>
                        <input type="text" name="field1" ng-model="answer2" placeholder="何分" />
                        <text class="error">{{error2}}</text>
                    </form>
                </div>

                <div class="form-style-6" ng-show="currentNum == 2">
                    <form>
                        <input type="text" name="field1" ng-model="answer" placeholder="日本円ですよ" />
                        <text class="error">{{error}}</text>
                    </form>
                </div>

                <div class="form-style-6" ng-show="currentNum == 3">
                    <form>
                        <input type="text" name="field1" ng-model="answer" placeholder="日本円ですよ" />
                        <text class="error">{{error}}</text>
                    </form>
                </div>

                <div class="form-style-6" ng-show="currentNum == 4">
                    <form>
                        <input type="text" name="field1" ng-model="answer" placeholder="ドールですよ" />
                        <text class="error">{{error}}</text>
                    </form>
                </div>

                <div class="form-style-6" ng-show="currentNum == 5">
                    <form>
                        secret
                    </form>
                </div>

            </ons-row>
            <ons-row>
                <button class="button--large--cta" style="width: 100%; margin: 0 auto;" ng-disabled="buttonDisable" ng-click="submit()">サブミット</button>
            </ons-row>
        </div>

        <ons-dialog var="dialog">
            <div style="text-align: center; padding: 10px;">
              <p>
                あなたはもう答えましたよ
              </p>
          
              <p>
                <ons-button ng-click="dialog.hide()">Close</ons-button>
              </p>
            </div>
          </ons-dialog>


          <ons-dialog var="dialog2">
                <div style="text-align: center; padding: 10px;">
                  <p>
                    ありがとうございます
                  </p>
              
                  <p>
                    <ons-button ng-click="dialog2.hide()">Close</ons-button>
                  </p>
                </div>
              </ons-dialog>



    </ons-page>
</template>

<template id="login.page">
    <ons-page>
            <div ng-controller="LoginController" class="form-style-6 container">
                <form>
                <input type="text" ng-model="username" placeholder="VMKI" />
                <input ng-click="login()" type="submit" value="始まろう" />
                </form>
            </div>


            <ons-dialog var="dialog">
                <div style="text-align: center; padding: 10px;">
                    <p>
                    ログイン失敗しました
                    </p>
                
                    <p>
                    <ons-button ng-click="dialog.hide()">Close</ons-button>
                    </p>
                </div>
            </ons-dialog>
    </ons-page>
</template>

</body>

<script>

    module.controller('GameController', function($scope) {
            $scope.buttonDisable = false;
            $scope.currentNum = 0;
            $scope.alreadyResponse = []
            //$scope.currentUser = {}
            getCurrentUser();

            $scope.gameData = [{
                num: 0,
                title: "　「休日朝起きる時間」→チュートリアル"
            }, {
                num: 1,
                title: "「通勤時間」"
            }, {
                num: 2,
                title: "「理想の年収」"
            }, {
                num: 3,
                title: "「自分の今年一番の買い物の値段」"
            }, {
                num: 4,
                title: "「香川さんの一番の買い物の値段は？」"
            }]

            $scope.forward = function() {

                $scope.buttonDisable = false;
                $scope.answer = null;
                $scope.answer2 = null;
                if ($scope.currentNum == $scope.gameData.length - 1) {
                    checkIfTheCurrentQuestionAlreadyResponsedOrNot();
                    return;
                }
                $scope.currentNum++;

                checkIfTheCurrentQuestionAlreadyResponsedOrNot();
            }

            $scope.back = function() {
                $scope.buttonDisable = false;
                $scope.answer = null;
                $scope.answer2 = null;
                if ($scope.currentNum == 0){
                    checkIfTheCurrentQuestionAlreadyResponsedOrNot();
                    return;
                } 
                $scope.currentNum--;
                checkIfTheCurrentQuestionAlreadyResponsedOrNot();
            }

            $scope.submit = function() {

                console.log($scope.currentUser)
                var verifyResult = verifyValue();

                if (verifyResult.err) {
                    return;
                }

                if (isEmpty($scope.currentUser)) {
                    alert("ログインされていない")
                } else {

                    getCurrentUser();

                    myDB.findAllData("response", {
                        questionNum: $scope.currentNum,
                        username: $scope.currentUser.userName
                    }, function(err, res) {
                        if (err) {
                            console.log("err")
                            alert("err in try to find the duplicated answer exists or not")
                            return;
                        }

                        if (res.length > 0) {
                            //alert("you have already submited for this answer")
                            dialog.show()
                            return;
                        }

                        dealWithAndSubmitAnswer();

                    })

                }
            }


            function checkIfTheCurrentQuestionAlreadyResponsedOrNot(){
                    var result = false;
                    for(var i=0;i<$scope.alreadyResponse.length;i++){
                        if($scope.alreadyResponse[i].questionNum == $scope.currentNum){
                            $scope.buttonDisable = true;
                            result = true;
                        }
                    }
                    return result;
            }


            function getCurrentUser() {
                var currentUser = myDB.getCurrentUser()
                console.log(currentUser)
                $scope.currentUser = currentUser;

                myDB.findAllData("response",{username:currentUser.userName},function(err,res){
                    $scope.$apply(function(){
                        $scope.alreadyResponse = res;
                        checkIfTheCurrentQuestionAlreadyResponsedOrNot();
                    })

                })
            }

            function isEmpty(obj) {
                for (var prop in obj) {
                    if (obj.hasOwnProperty(prop))
                        return false;
                }
                return true;
            }


            function verifyValue() {

                var resObj = {
                    err: false
                }

                $scope.error = null;
                $scope.error2 = null;
                if ($scope.currentNum == 0 || $scope.currentNum == 1) {

                    if (!isNumber($scope.answer) || $scope.answer == undefined) {
                        resObj = {
                            err: true
                        }
                        $scope.error = "数字を入力してください"
                    }


                    if (!isNumber($scope.answer2) || $scope.answer2 == undefined) {
                        resObj = {
                            err: true
                        }
                        $scope.error2 = "数字を入力してください"
                    }

                } else if ($scope.currentNum == 2 || $scope.currentNum == 3 || $scope.currentNum == 4) {


                    if (!isNumber($scope.answer) || $scope.answer == undefined) {
                        resObj = {
                            err: true
                        }
                        $scope.error = "数字を入力してください"
                    }


                } else {

                }

                return resObj;

            }

            function dealWithAndSubmitAnswer() {
                var obj = {}
                if ($scope.currentNum == 0) {

                    obj = {
                        answer: $scope.answer,
                        answer2: $scope.answer2
                    }

                } else if ($scope.currentNum == 1) {

                    obj = {
                        answer: $scope.answer,
                        answer2: $scope.answer2
                    }

                } else if ($scope.currentNum == 2) {

                    obj = {
                        answer: $scope.answer
                    }

                } else if ($scope.currentNum == 3) {

                    obj = {
                        answer: $scope.answer
                    }

                } else if ($scope.currentNum == 4) {

                    obj = {
                        answer: $scope.answer
                    }

                } else if ($scope.currentNum == 5) {

                } else {

                }
                $scope.buttonDisable = true;

                obj.username = $scope.currentUser.userName,
                    obj.questionNum = $scope.currentNum,
                    myDB.insertIntoDataBase("response", obj, function(err, res) {
                        if (err) console.log(err)
                        dialog2.show();
                        if(isEmpty($scope.alreadyResponse[$scope.currentNum])){
                            $scope.alreadyResponse[$scope.currentNum] = {questionNum:$scope.currentNum}
                        }

                        if($scope.currentNum == $scope.gameData.length - 1){
                            $scope.buttonDisable = true;
                        }else{
                            $scope.forward();
                            $scope.buttonDisable = false;
                        }
                        

                    })
            }

            function isNumber(n) {
                return !isNaN(parseFloat(n)) && isFinite(n);
            }

        })


        module.controller('LoginController', function($scope) {
                $scope.login = function(){
                    myDB.login($scope.username,$scope.username, function(err, res) {
                        if(err){
                            console.log(err);
                            dialog.show();
                            return;
                        }
                 
                        $scope.currentUser = res;
                      
                        myNavigator.pushPage("game.page");
                    })
                }
        })
</script>

</html>